In [586]:
import pandas as pd   
import numpy as np
pd.options.display.max_rows = 204
pd.options.display.max_columns = 204

In [587]:
df = pd.read_csv("auto.csv")

In [615]:
df.head(10)

,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,heightcurb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,RPM,peak-rpm,city-mpg,city-L/100km,price
0,NaN,alfa-romero,gas,std,two,convertible,rwd,front,89,-0.284113,64,49,2548,dohc,four,30,mpfi,3,3,9.0,,5000,117.500000,8.703704,6500
1,50.0,saab,gas,std,two,hatchback,fwd,front,99,0.574539,67,56,2707,ohc,four,2,mpfi,3,2,9.0,0,5250,117.500000,8.392857,5040
2,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,95,-3.241692,66,52,2823,ohcv,six,52,mpfi,3,3,9.0,54,5000,26.111111,9.038462,6500
3,2.0,chevrolet,gas,std,two,hatchback,fwd,front,88,-3.384800,60,53,488,l,three,6,2bbl,3,3,10.0,48,500,5.000000,4.433962,55
4,NaN,honda,gas,std,four,sedan,fwd,front,97,-0.570330,64,55,200,ohc,four,92,bbl,3,3,9.0,76,6000,7.833333,6.911765,7295
5,NaN,honda,gas,std,two,hatchback,fwd,front,94,-1.190468,64,53,837,ohc,four,79,bbl,3,3,NaN,60,5500,6.184211,5.595238,5399
6,NaN,honda,gas,std,two,hatchback,fwd,front,94,-1.190468,64,53,940,ohc,four,92,bbl,3,3,9.0,76,6000,7.833333,6.911765,6529
7,NaN,honda,gas,std,two,hatchback,fwd,front,94,-1.190468,64,53,956,ohc,four,92,bbl,3,3,9.0,76,6000,7.833333,6.911765,729
8,37.0,honda,gas,std,two,hatchback,fwd,front,87,-1.428982,64,51,876,ohc,four,92,bbl,3,3,10.0,58,4800,4.795918,4.351852,6479
9,37.0,honda,gas,std,two,hatchback,fwd,front,87,-1.428982,64,51,876,ohc,four,92,bbl,3,3,9.0,76,6000,78.333333,6.184211,6855

In [589]:
headers = ["normalized-losses","make","fuel-type","aspiration","num-of-doors","body-style","drive-wheels","engine-location","wheel-base","length","width","height"
            "curb-weight","engine-type","num-of-cylinders","engine-size","fuel-system","bore","stroke","compression-ratio","horsepower","RPM","peak-rpm","city-mpg","highway-mpg","price"]

In [590]:
df.columns = headers

In [591]:
df.dtypes

normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base             int64
length                 int64
width                  int64
heightcurb-weight      int64
engine-type            int64
num-of-cylinders      object
engine-size           object
fuel-system           object
bore                  object
stroke                object
compression-ratio     object
horsepower           float64
RPM                   object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [592]:
df.describe()

,wheel-base,length,width,heightcurb-weight,engine-type,horsepower,city-mpg,highway-mpg
count,204.000000,204.000000,204.000000,204.000000,204.000000,203.000000,204.000000,204.000000
mean,68.269608,74.955882,66.009804,53.117647,1909.328431,9.142857,18.049020,28.784314
std,41.907603,20.963092,2.323557,7.240818,1129.967346,3.820773,11.870299,9.777956
min,0.000000,4.000000,60.000000,5.000000,28.000000,0.000000,2.000000,3.000000
25%,8.000000,66.000000,64.000000,52.000000,876.000000,9.000000,7.000000,24.000000
50%,95.000000,73.000000,66.000000,54.000000,2314.000000,9.000000,23.000000,30.000000
75%,96.250000,84.250000,67.000000,56.000000,2739.500000,9.000000,27.000000,34.000000
max,100.000000,208.000000,77.000000,60.000000,4066.000000,23.000000,49.000000,54.000000

In [593]:
df.describe(include="all")

,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,heightcurb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,RPM,peak-rpm,city-mpg,highway-mpg,price
count,199,204,204,204,204,204,204,204,204.000000,204.000000,204.000000,204.000000,204.000000,204,204,204,204,204,204,203.000000,204,204,204.000000,204.000000,204
unique,43,22,2,2,3,5,3,2,NaN,NaN,NaN,NaN,NaN,7,7,39,8,3,5,NaN,46,24,NaN,NaN,179
top,,toyota,gas,std,four,sedan,fwd,front,NaN,NaN,NaN,NaN,NaN,ohc,four,8,mpfi,4,3,NaN,68,5500,NaN,NaN,
freq,40,32,184,167,114,96,120,201,NaN,NaN,NaN,NaN,NaN,148,158,19,93,105,160,NaN,19,37,NaN,NaN,4
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.269608,74.955882,66.009804,53.117647,1909.328431,NaN,NaN,NaN,NaN,NaN,NaN,9.142857,NaN,NaN,18.049020,28.784314,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.907603,20.963092,2.323557,7.240818,1129.967346,NaN,NaN,NaN,NaN,NaN,NaN,3.820773,NaN,NaN,11.870299,9.777956,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,4.000000,60.000000,5.000000,28.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,2.000000,3.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.000000,66.000000,64.000000,52.000000,876.000000,NaN,NaN,NaN,NaN,NaN,NaN,9.000000,NaN,NaN,7.000000,24.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.000000,73.000000,66.000000,54.000000,2314.000000,NaN,NaN,NaN,NaN,NaN,NaN,9.000000,NaN,NaN,23.000000,30.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.250000,84.250000,67.000000,56.000000,2739.500000,NaN,NaN,NaN,NaN,NaN,NaN,9.000000,NaN,NaN,27.000000,34.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000000,208.000000,77.000000,60.000000,4066.000000,NaN,NaN,NaN,NaN,NaN,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

In [594]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   normalized-losses  199 non-null    object
 1   make               204 non-null    object
 2   fuel-type          204 non-null    object
 3   aspiration         204 non-null    object
 4   num-of-doors       204 non-null    object
 5   body-style         204 non-null    object
 6   drive-wheels       204 non-null    object
 7   engine-location    204 non-null    object
 8   wheel-base         204 non-null    int64
 9   length             204 non-null    int64
 10  width              204 non-null    int64
 11  heightcurb-weight  204 non-null    int64
 12  engine-type        204 non-null    int64
 13  num-of-cylinders   204 non-null    object
 14  engine-size        204 non-null    object
 15  fuel-system        204 non-null    object
 16  bore               204 non-null    object
 17  stroke             204 non-null    object
 18  compression-ratio  204 non-null    object
 19  horsepower         203 non-null    float64
 20  RPM                204 non-null    object
 21  peak-rpm           204 non-null    object
 22  city-mpg           204 non-null    int64
 23  highway-mpg        204 non-null    int64
 24  price              204 non-null    object
dtypes: float64(1), int64(7), object(17)
memory usage: 40.0+ KB

In [596]:
df.dropna(subset=["price"], axis=0, inplace=True)

In [597]:
df['normalized-losses'] = pd.to_numeric(df['normalized-losses'], errors='coerce')

In [598]:
df.dtypes

normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base             int64
length                 int64
width                  int64
heightcurb-weight      int64
engine-type            int64
num-of-cylinders      object
engine-size           object
fuel-system           object
bore                  object
stroke                object
compression-ratio     object
horsepower           float64
RPM                   object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [599]:
mean = df["normalized-losses"].mean()

In [600]:
mean

44.283018867924525

In [603]:
df ["highway-mpg"] = 235/ df ["highway-mpg"]

In [606]:
df.rename(columns = {"highway-mpg" : "city-L/100km"} , inplace =True)

In [608]:
df.head(10)

,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,heightcurb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,RPM,peak-rpm,city-mpg,city-L/100km,price
0,NaN,alfa-romero,gas,std,two,convertible,rwd,front,89,69,64,49,2548,dohc,four,30,mpfi,3,3,9.0,,5000,117.500000,8.703704,6500
1,50.0,saab,gas,std,two,hatchback,fwd,front,99,87,67,56,2707,ohc,four,2,mpfi,3,2,9.0,0,5250,117.500000,8.392857,5040
2,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,95,7,66,52,2823,ohcv,six,52,mpfi,3,3,9.0,54,5000,26.111111,9.038462,6500
3,2.0,chevrolet,gas,std,two,hatchback,fwd,front,88,4,60,53,488,l,three,6,2bbl,3,3,10.0,48,500,5.000000,4.433962,55
4,NaN,honda,gas,std,four,sedan,fwd,front,97,63,64,55,200,ohc,four,92,bbl,3,3,9.0,76,6000,7.833333,6.911765,7295
5,NaN,honda,gas,std,two,hatchback,fwd,front,94,50,64,53,837,ohc,four,79,bbl,3,3,NaN,60,5500,6.184211,5.595238,5399
6,NaN,honda,gas,std,two,hatchback,fwd,front,94,50,64,53,940,ohc,four,92,bbl,3,3,9.0,76,6000,7.833333,6.911765,6529
7,NaN,honda,gas,std,two,hatchback,fwd,front,94,50,64,53,956,ohc,four,92,bbl,3,3,9.0,76,6000,7.833333,6.911765,729
8,37.0,honda,gas,std,two,hatchback,fwd,front,87,45,64,51,876,ohc,four,92,bbl,3,3,10.0,58,4800,4.795918,4.351852,6479
9,37.0,honda,gas,std,two,hatchback,fwd,front,87,45,64,51,876,ohc,four,92,bbl,3,3,9.0,76,6000,78.333333,6.184211,6855

In [609]:
df["length"] = df["length"]/df["length"].max()

In [610]:
df["length"].head(10)

0    0.331731
1    0.418269
2    0.033654
3    0.019231
4    0.302885
5    0.240385
6    0.240385
7    0.240385
8    0.216346
9    0.216346
Name: length, dtype: float64

In [611]:
df ["length"] = ( df ["length"] - df["length"].min() ) / ( df ["length"].max() - df["length"].min() )

In [612]:
df["length"].head(10)

0    0.318627
1    0.406863
2    0.014706
3    0.000000
4    0.289216
5    0.225490
6    0.225490
7    0.225490
8    0.200980
9    0.200980
Name: length, dtype: float64

In [613]:
df ["length"] = ( df ["length"] - df["length"].mean() ) / df ["length"].std()

In [614]:
df["length"].head(10)

0   -0.284113
1    0.574539
2   -3.241692
3   -3.384800
4   -0.570330
5   -1.190468
6   -1.190468
7   -1.190468
8   -1.428982
9   -1.428982
Name: length, dtype: float64